{% extends 'base.html.twig' %}
{% block body %}
    {% if title is defined %}
        <h1>{{ title }}</h1>
    {% endif %}

    {% for post in posts %}
        <li>
            {{ post.id }} -
            {{ post.title }} -
            {{ post.create_at|date("d/m/y H:i:s") }}
        </li>
    {% endfor %}
{% endblock %}

{% block title %}
    Sitema de blog
{% endblock %}

