{% extends 'base.html.twig' %}

{% block title %}
    cadastro do usuario
{% endblock %}

{% block body %}
    <div>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit">Cadastrar</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
