<div style="text-align: center">
    <h2>Sua conta foi criada com Sucesso.</h2>
    <p>
        Olá {{ name }}, tudo bem ?
    </p>
    <p>
        Sua em nosso blog foi criado e os dados de acesso estão abaixo: <br>
        <strong>Email: {{ email }} </strong><br>
        <strong>Sua senha: {{ password }}</strong>
    </p>
    <p>
        Enviado em {{ 'now'|date('d/M/Y H:i:s') }};
    </p>
</div>